@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .vertical-text {
    transform-origin: top right;
    transform: rotate(90deg) translateX(100%);
  }

  .gradient {
    @apply bg-gradient-to-r from-fuchsia to-blue pb-3 -mb-3 bg-clip-text text-transparent;
  }

  .light-gradient {
    @apply bg-gradient-to-r from-fuchsia to-blue-400 text-transparent bg-clip-text;
  }

  .gradient-border {
    border-image: linear-gradient(
        to right,
        theme(colors.fuchsia.DEFAULT),
        theme(colors.blue.400)
      )
      2;
  }

  .homepage-heading {
    @apply text-5xl xs:text-6xl font-bold mb-4;
  }
  .homepage-subheading {
    @apply text-3xl xs:text-4xl font-semibold mb-4;
  }

  .homepage-paragraph {
    @apply xs:text-xl;
  }
}

@layer components {
  .ticket-button {
    @apply flex-1 flex items-center justify-center rounded-lg text-xs sm:text-base md:text-lg font-light bg-transparent border sm:border-2 border-fuchsia pl-2 sm:pl-3 md:pl-4 py-1.5 xs:py-2 md:py-3 text-white hover:text-blue-50 hover:border-fuchsia-500 disabled:hover:border-fuchsia disabled:hover:text-white;
  }

  .ticket-vars {
    --height: calc(var(--width) * 9 / 20);
    --circle-width: calc(var(--width) / 16);
    --circle-height: calc(var(--width) / 8);
  }
  .ticket-xxs {
    --width: 15rem;
    --border: 2px;
  }
  .ticket-xs {
    --width: 20rem;
    --border: 3px;
  }
  .ticket-sm {
    --width: 30rem;
    --border: 4px;
  }
  .ticket {
    --width: 40rem;
    --border: 4px;
  }
}
