@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .vertical-text {
    transform-origin: top right;
    transform: rotate(90deg) translateX(100%);
  }

  .gradient {
    @apply bg-gradient-to-r from-fuchsia to-blue pb-3 -mb-3 bg-clip-text text-transparent;
  }

  .dashed-underline {
    text-decoration-style: dashed;
    text-decoration-color: theme(colors.gray.400);
  }
}

@layer components {
  .ticket-button {
    @apply flex-1 flex items-center justify-center rounded-lg text-xs sm:text-base md:text-lg font-light bg-transparent border sm:border-2 border-fuchsia pl-2 sm:pl-3 md:pl-4 py-1.5 xs:py-2 md:py-3 text-white;
  }

  @responsive {
    .ticket-vars {
      --height: calc(var(--width) * 9 / 20);
      --circle-width: calc(var(--width) / 16);
      --circle-height: calc(var(--width) / 8);
    }
    .ticket-xxs {
      --width: 15rem;
      --border: 2px;
    }
    .ticket-xs {
      --width: 20rem;
      --border: 3px;
    }
    .ticket-sm {
      --width: 30rem;
      --border: 4px;
    }
    .ticket {
      --width: 40rem;
      --border: 4px;
    }
  }
}
